<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_frontend.css">
    <title>Trilha do Conhecimento</title>
</head>

<body>
    <nav>
        <ul>

            <li>
                <a href="/">Home</a>
            </li>

        </ul>
    </nav>

    <header>
        <h1>Trilha do Frontend</h1>
    </header>

    <article>
        <h3>O que é um Frontend</h3>
        <p>Para entender o que é front-end, é preciso saber o que é arquitetura cliente-servidor. Esse modelo pressupõe dois agentes: o chamado client-side envolve linguagens que são processadas pelo navegador do usuário, o server-side faz referência ao que é processado no servidor e faz uso de diferentes linguagens.</p>

        <p>Apesar de diferentes, os dois lados precisam trabalhar juntos para garantir a usabilidade do site e uma boa experiência de navegação.</p>

        <p>Nesse contexto, a programação front-end está associada ao client-side. O front-end é onde encontramos a "cara" de um site ou aplicativo, com design, interface de navegação e ferramentas de interação com o usuário, como áreas de buscas e formulários.</p>

        <h3>Para que serve?</h3>
        <p>O desenvolvedor front-end é responsável pela experiência do usuário dentro de uma aplicação web, é ele quem vai desenhar e desenvolver as páginas com as quais, posteriormente, o usuário irá interagir.</p> 

        <p>O front-end também inclui elementos que determinam a identidade visual de um site ou aplicativo, por isso, além do conhecimento de linguagens de programação específicas, um desenvolvedor dessa área só tem a ganhar se tiver noções de design, arquitetura da informação e UX.</p>        
    </article>

    <section>             
        <a class="card" href="/mod1">
            <h2> Modulo 1 </h2>
            <h4>Introdutório</h4>
        </a>  
    </section>

    <footer>     
            <h4>© 2021 Desenvolvedor Full Stack - Leandro Kosta ©</h4>       
    </footer>
</body>

<script src="/js/script.js"></script>

</html>