<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_mod1.css">
    <title>Trilha do Conhecimento</title>
</head>

<body>
    <nav>
        <ul>

            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/frontend">Frontend</a>
            </li>

        </ul>
    </nav>

    <header>
        <h1>Módulo 1</h1>
    </header>

    <section>
        <% conteudos.forEach(item => { %>
            <div class="card">
                <ul>
                    <h2><%= item.tema %></h2>
                    <h4><%= item.descritivo %></h4>
                    <iframe width="540" height="320" src="<%= item.linkconteudo %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>              
                </ul>
            </div>  
        <% }) %> 
    </section>

    

    <footer>
        <h4>© 2021 Desenvolvedor Full Stack - Leandro Kosta ©</h4>
    </footer>
</body>

<script src="/js/script.js"></script>

</html>